[2018-03-02 18:00] mattfarina opened #1 "Bring in line with repo structure"
The [template project](https://github.com/kubernetes/kubernetes-template-project) has a structure that should be adopted here. An OWNERS file, contributing guide, CoC, and so forth should be added.

[2018-03-12 22:52] #1 closed

[2018-03-14 21:38] bgrant0607 opened #3 "The apps_ prefix to the repo name is no longer required"
Feel free to rename the repo

[2018-03-19 19:31] mattfarina commented on #3
Closing as the rename has happened.

/close

[2018-03-19 19:40] mattfarina opened #5 "Add documentation"
This project needs some clear docs on:

* Why this project exists (current problem and value proposition)
* Installing into a cluster
* How to use the CRD
* Documentation on what properties can be used
* How someone should use owner references alongside the CRD
* The difference between an application and an application instance?
* Contributing documentation on how and when to use kubebuilder with

[2018-03-19 19:45] kow3ns opened #6 "Application Dependencies"
The original KEP proposed the following notion of application Dependencies

[code]

The notion of Dependencies is necessarily namespace bound by this definition. The application controller would simply track the components of the installed application through their life-cycle and  update the Status.Installed list when a dependent component is created.

1. Is being bound to the same namespace too r

[2018-03-19 19:47] kow3ns commented on #3
/close

[2018-03-19 19:47] #3 closed

[2018-03-20 15:56] kow3ns opened #7 "Application Garbage Collection"
There are at least two ways to deal with garbage collection of application resources. The first, and simplest, approach is to inject owner reference into each component of the application using the Name, APIVersion, and Kind of the Application CRD. This would work as follows. There is no need to worry about injecting OwnerReferences into intermediate or children objects (e.g. If an OwnerReference

[2018-03-22 04:28] tamalsaha commented on #6
We have working with a Dependency definition that look like

[code]
https://github.com/kubepack/pack-server/blob/master/apis/manifest/v1alpha1/types.go#L22

Our view is that there are 2 YAML needed for a package: kube-manifest.yaml (required) and dependency-list.yaml (optional) . Each entry in DependencyList points to a package that has its own `kube-manifest.yaml`

[2018-03-23 16:12] mattfarina opened #9 "Add CI"
We need to add CI that runs against master and pull requests.

[2018-03-23 16:13] mattfarina commented on #5
Noted kubebuilder in contributing docs via #8

[2018-03-23 16:44] mattfarina commented on #6
@tamalsaha There may be two separate things going on here.

First, we have the details needed to describe applications as they run within Kubernetes. This is an operational issue.

Second, we have details needed for packages (as in a package manager). They are not necessarily operational details.

Can you describe the use case you're targeting with this?

[2018-03-23 16:45] mattfarina commented on #6
@kow3ns I'm unable to open the original PR for the KEP so I can't get to any details there (GitHub keeps giving an error). What's the use case for the dependency tracking outlined in the proposal?

[2018-03-23 16:46] mattfarina commented on #6
@kow3ns Also, how would services (e.g., those from the service catalog) relate in terms or dependencies?

[2018-03-23 16:54] mattfarina commented on #7
@kow3ns thanks for bring this up here and in the KEP. It's inspired a number of great conversations I've had the opportunity to have with folks.

The approach where the controller monitors and adds owners refs to create/delete events has some complexities. For example,

* What if you have a database used by two applications (or more). You delete one application but still have the other so the data

[2018-03-26 15:06] konryd opened #11 "Application status"
The Application resource is intended to be used by UIs. One of the most useful features of those is reporting the health of the displayed resources.

The "status" of the application (for the sake of discussion, let's simplify to either "OK" or "Error") can be generated in one of the following ways:
1. With an explicit field in ApplicationStatus.
1. With a reference to a a running pod's readiness p

[2018-03-26 20:37] konryd opened #12 "Referencing Secrets and other resources"
This issue captures one of the threads on #4 where it was proposed to allow the Application to reference values/properties from Secret, ConfigMap, Ingress or Service.

Some quotes from the thread:
From @deustis: "[...]On the topic of credentials, we might want to establish a pattern for referencing Secrets. A very common getting started experience for an off-the-shelf app is trying to locate the p

[2018-03-26 20:51] konryd commented on #12
@deustis - to follow on my point - The assumption that applications support reloading of Secrets after editing is a big one. There's more info here (search for config maps):

https://github.com/kubernetes/kubernetes/issues/33664

[2018-03-26 21:01] huyhg commented on #12
The discussions were specifically around information in `Value`s of the `Info` key-value pairs. The observation was that the values typically come from some common resources like Secret, ConfigMap, Ingress, or Service. We discussed various ways of how such references can be achieved and templatized.

[2018-03-26 21:02] deustis commented on #12
Thanks @konryd for capturing the context from the thread. I'll just add a couple of the concrete proposals that were mentioned there:

In the model proposed by @prydonius where reference types are enumerated, this would be an example for a Secret reference:

[code]

Alternative, using more generalized resource references, this might look like:

[code]

We might also consider supporting templatized

[2018-03-27 08:07] konryd commented on #12
From the [secret's docs](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets)

The secrets cache TTL is [one minute](https://github.com/kubernetes/kubernetes/blob/c6c03477cffc300e73e31395a3004a52d256e849/pkg/kubelet/secret/secret_manager.go#L38), and kubelet sync period is on the same order.

So the best sync that we can guarantee for Secrets alone is 2 minutes, after putting s

[2018-03-28 08:25] konryd commented on #11
Aren't these worries theoretical? The events are used to generate pod's status eg. in Kubernetes Dashboard. I am not not aware of users complaining.

That would be convenient for listing a single app's components, and their statuses, but for computing the aggregate status of the application it will be comparable to the current solution, especially when computing statuses for all applications (we'l

[2018-03-29 10:25] prydonius commented on #11
I'm curious about how people use healthchecks to determine healthiness in the context of an application today. I would imagine a lot of simpler applications (e.g. ones we have Helm charts for today) would only need a single health check for the main services. For example, in WordPress this would be the WordPress deployment and the MySQL deployment. It may even be enough in this case to just check

[2018-04-04 21:15] tamalsaha opened #14 "Application privacy policy"
There is a discuss on Helm charts on how applications can collect analytics on not. It dawned on me that may be there should be a field for setting link to a privacy policy document in the application CRD. Is the `Links ` field enough for that?

ref: https://github.com/kubernetes/charts/issues/4697#issuecomment-378746444

cc: @mattfarina

[2018-04-05 09:55] konryd commented on #12
I'd advocate for the solution proposed by @prydonius. The advantages are:
 * It covers all use cases.
 * It limits the use cases to 4 resource kinds, making it easier to optimize (fewer potential queries to fully render the Application).
 * It follows the conventions already present in K8s.
 * It avoids using jsonpath - a language with its own rich specification and &lt;Konrad speculating&gt;proba

[2018-04-05 16:33] ant31 commented on #12
I would not consider templating.

References are aligned with current practice in the API, +1 on @prydonius proposal

[2018-04-05 19:47] deustis commented on #12
I'm also onboard with @prydonius' proposal. In addition to the points @konryd mentioned above, it has the benefit of being extensible. Additional options can be added under valueFrom in the future:

[code]

[2018-04-05 19:50] konryd commented on #14
Links and Notes both should be able to accomodate this.

This looks like an example of well-known "type" of a link - something that was discussed in #4 ([link to conversation](https://github.com/kubernetes-sigs/application/pull/4#discussion_r176302278)).

[2018-04-06 08:44] prydonius commented on #12
How do we see the Admin/App URL references looking like, as this will be different to referencing Secrets/ConfigMaps? My current thinking is to have a reference to either an Ingress or Service resource, along with an optional `path` for appending a path on the Ingress/Service host. For example:

[code]

This avoids the need for templating by assuming that links may only have a path appended to the

[2018-04-06 08:47] prydonius commented on #12
It looks like `links` currently contains a mix of external and internal links (https://github.com/kubernetes-sigs/application/blob/master/docs/example.yaml#L28), which may be confusing. We may want to split application access links from metadata/info links cc @huyhg

[2018-04-06 19:13] mattfarina opened #16 "Onwers with Maintainers Structure"
The structure for `maintainers` is:

[code]

The structure for `owners` is:

[code]

We should make these consistent. I didn't create a PR because I wasn't sure of the naming to use internally. I could use the `Maintainer` struct but the name isn't a great fit. Any ideas on the naming?

[2018-04-06 19:27] konryd commented on #16
How about ContactData, or ApplicationContactData (to discourage extensive reuse)?

[2018-04-06 20:17] mattfarina opened #18 "Convert html table to markdown table in readme"
I'm recording this, in part for myself, to convert the html table to a markdown table in the readme. This is an easy one if someone else wants to pick it up.

[2018-04-10 09:30] konryd commented on #11
@prydonius I like the idea of using health checks. Do you have thoughts on the exact implementation? What do you think about making it a service reference in the style of #12 plus some fields for homing down no the exact port/path?

[2018-04-10 11:40] prydonius commented on #11
@konryd would it not be easier to use workload references (I believe just these five: Deployment, StatefulSet, ReplicaSet, DaemonSet, Pod) as we can leverage the readiness/liveness checks that these already do. Now that I think about it, this also gives app devs quite a lot of flexibility to decide whether they want to aggregate healthchecks across different services they've deployed, or deploy a

[2018-04-10 11:43] prydonius commented on #16
What's the difference between an owner and maintainer? Charts hasn't needed this distinction so far, so just wondering what the usecase might be.

[2018-04-10 13:51] lwander commented on #11
Is reporting the health meant for human consumers in a UI, programmatic consumers via the API, or some combination of both?

If you're leaning more toward the former, I don't know if a single "OK" vs. "Error" is necessary, or even enough. Like @prydonius points out there's a large set of resources (not even counting CRDs) that might be worth rolling up into application health. If we want to provid

[2018-04-11 14:50] konryd commented on #11
@prydonius I started with just services to avoid the need to re-implement their round-robin semantics, but I'm not against referencing workloads directly - nice thing about this is it wouldn't require adding a service just for the health check.

As for the unprovisioned LB case - this can't be detected with a blackbox approach (==healthcheck)  from inside the cluster, which gets us back to testing

[2018-04-11 15:14] konryd commented on #11
@lwander I think the status should be helpful in both cases: lightweight, glanceable status for humans and some reasonable check for automated tools (eg. testers). It doesn't need to provide all of this on the API level, though.

I'd like to focus on items that require some input from user and thus benefits from standardization in a CRD: Querying each component one-by-one is something that clients

[2018-04-11 15:17] konryd commented on #16
@prydonius: I just learned this is a convention present throughout Kubernetes (@bgrant0607 has more details).

[2018-04-12 18:44] deustis commented on #12
@prydonius, how would you feel about removing internal references from `links`, and instead thinking of that field as static external URLs, added at packaging time (along with description, notes, keywords, etc.)

The InfoItem list then becomes the place to put all dynamic info for a given instance. Typically a mix of config/secret references and admin/app urls.

[2018-04-17 19:03] deustis commented on #5
In particular, the instructions for installing the CRD need some improvement. They currently reference a "hack" manifest: `application/hack/install.yaml`. That manifest also contains a Service and StatefulSet which do not appear to be relevant to the spec.

[2018-04-22 16:25] barry-schneider opened #26 "Clarify - What does this mean: Application operators who want to center what they operate on applications"
I do not understand the concept trying to be conveyed below. Could you please clarify?

In the README.md file, under the This can be used by, the first bullet item: Application operators who want to center what they operate on applications,

[2018-04-23 03:14] hzxuzhonghu commented on #6
I think yes, how can we describe dependents in other namespaces/or root scoped?

Yes, in cases we depend on shared load balancer or dbs or even other middlewares.

[2018-04-24 13:17] ant31 opened #28 "Nest Application metadata fields"
I'd separate the metadata fields about an application, like `description, keywords...` from the fields holding some logic like `matchLabels`, `componentKinds`.

First, it's more clear for the user and tools authors to spot what is informative only and what is modifying the behavior of the controller
Second, the descriptor spec could be more easily reused by other project and integrated to differen

[2018-04-24 14:27] barry-schneider commented on #16
Please provide a link to the convention present throughout Kubernetes for owner and maintainer. Thanks

[2018-04-24 21:07] barry8schneider opened #29 "How will objects be selected"
I am not clear what values from within the Application CRD will be used to select the objects that will define my Application within the cluster.

My assumption is that values defined in the Application CRD will be used to query cluster objects which will then define my Application.

Is the selector the single value spec.selector or is the selection also limited by spec.componentKinds?

Is the sel

[2018-04-25 03:55] barry8schneider opened #31 "Resource, Component or Object ?"
The readme makes several references to Application resources or components in the cluster

* The Application CRD provides a way for you to aggregate individual Kubernetes components
* allows for the aggregation and display of all the components in the Application.
* The selector is used to match resources that belong to the Application.
* All of the applications resources should be labels such tha

[2018-04-25 15:29] barry8schneider opened #32 "Scope of First Release"
What is the current scope of the first release?

[2018-04-25 15:33] barry8schneider opened #33 "Proposed Controller Road Map"
What logic should the application controller provide?

[2018-04-25 16:34] konryd commented on #33
Two things that come to my mind:
1. Repeatedly issue selector/groupkind queries and update ownerReferences on the components.
2. Ping the healthCheck endpoint (if there's consensus to add it) and update a field in ApplicationStatus ("ApplicationStatus.condition"?).

[2018-04-26 11:59] konryd commented on #7
@mattfarina In the scenario with shared database, I'd say the db should not be marked as being a part of one application or another, but a separate entity (possibly having its own application).

Between the two approaches given by @kow3ns, I'm in favor of the second one (controller attaching ownerrefs), as most user-friendly and able to cover the adoption scenario out of the box.

Ideally the user

[2018-04-27 19:12] kow3ns commented on #31
We should probably reference Kinds instead of resources as you point out, and componentKinds  really identifies resources. I don't think we need to disambiguate between cluster components and application components though. Manifests, and any other system, can be composed of components. I don't think components, even in the space of Kubernetes, is a reserved word that is applicable only to the clus

[2018-04-27 19:15] kow3ns commented on #33
I think the main things we want to tackle initially are outlined in #11 #7 #6

[2018-04-27 19:27] barry-schneider commented on #29
I am not clear how the list of components will be provided to the user/vendor. Will the controller return a list of components and/or will the user/vendor take the spec info and query Kubernetes directly?

[2018-04-27 19:27] barry-schneider commented on #29
What about namespace?

[2018-04-27 19:28] barry-schneider commented on #29
Will the Application controller have adequate permissions to query all of the components in the cluster?

[2018-04-27 20:45] ant31 commented on #28
@kow3ns if you agree with this I can try to submit the PR

[2018-04-30 13:00] barry8schneider opened #37 "Proposed Application Status Type"
What information do we want to store in the [Status fields](https://github.com/kubernetes-sigs/application/blob/master/pkg/apis/app/v1alpha1/application_types.go)?

[2018-04-30 23:07] dlorenc commented on #37
Good question! Some references to other Status fields in Kubernetes:
[PodStatus](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#podstatus-v1-core)
[ContainerStatus](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#containerstatus-v1-core)

Given that basic health checks are in-scope for this CRD, something like the `ready` field on `ContainerStatus` would

[2018-05-09 16:06] kow3ns commented on #9
/close

[2018-05-09 16:06] #9 closed

[2018-05-09 16:07] barry8schneider opened #40 "Is Operator Framework a complement or competitor technology?"
Red Hat and the Kubernetes open source community today share the [Operator Framework](https://github.com/operator-framework) – an open source toolkit designed to manage Kubernetes native applications, called Operators, in a more effective, automated, and scalable way.

- Operator SDK: Enables developers to build Operators based on their expertise without requiring knowledge of Kubernetes API compl

[2018-05-09 16:09] kow3ns commented on #40
I'd say complementary. The Spark operator will use the Application resource.

[2018-05-09 16:12] kow3ns commented on #37
I think this might be a dup of #11

[2018-05-10 14:14] #26 closed

[2018-05-10 18:06] jzelinskie commented on #40
We do need to work together to get rid of the redundancy between the ClusterServiceVersion-v1 resource used to install Operators and the Application Definition. [See this example of the Vault Operator](https://github.com/operator-framework/operator-lifecycle-manager/blob/115c38e9a8f86a15c6bd5e4e0eec0e0be92712ff/catalog_resources/ocs/vaultoperator.0.1.9.clusterserviceversion.yaml).

The Lifecycle M

[2018-05-17 10:09] ant31 commented on #7
I'm in favor of the controller attaching ownerrefs.

About the case of shared resources, we may still want to select them via the 'ApplicationCRD'. So what about adding a field on the components so users can protect them, like `garbageCollect: false`.
Also, this can be useful in general, e.g. I want to delete/create all component of an application except a secret.

@kow3ns , If the `The graph base

[2018-05-17 11:38] ant31 commented on #28
cc @konryd

[2018-05-17 12:00] prydonius commented on #28
+1 I think this be a nice differentiator

[2018-05-21 20:15] jzelinskie commented on #7
Building the Operator Lifecycle Manager, we basically discovered that we want a queryable GC API for asking questions of the ownership tree. We have some internal proposals and I know some of the CoreOS upstream contributors poked around seeing if it was a reasonable initiative.

[2018-05-23 18:11] ant31 commented on #12
The solution from https://github.com/kubernetes-sigs/kustomize/issues/27 seems to apply for here too.

It takes the same approach of using ObjectReference but for any objects and any fields (if I read correctly the [code](https://github.com/droot/kubectl/commit/ad59761808bba74952d89017c8f1ae5ad9c21b27))
cc @droot

[2018-05-23 18:20] droot commented on #12
@ant31 , yes you right.

[2018-05-24 14:49] jessfraz opened #42 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 17:21] jzelinskie commented on #28
+1 to this

Feels like there's precedence with fields like TypeMeta and ObjectMeta

[2018-05-25 15:18] dlorenc opened #43 "Application Resource Generation"
Is tooling for generating Application resources (maybe from a set of YAMLs or something similar) in-scope for this project?

Ref https://github.com/kubernetes-sigs/kustomize/issues/23

[2018-05-30 20:51] prydonius commented on #43
My 2 pence is that generating the Application resource is better left to the deployment tools (e.g. Helm, kustomize, ksonnet). Especially since some of these tools represent some of the application metadata in different ways, such as Helm's Chart.yaml, and it wouldn't make sense to have that knowledge in this project.

[2018-05-31 21:56] #42 closed

[2018-06-04 22:59] liyinan926 commented on #6
Just want to share some of my thoughts on application dependencies here. I think it's super useful to have the notion of application dependencies and some ways of checking and enforcing the dependencies.

As a concrete example, ZooKeeper is used as a dependent system by several popular open source projects, including Kafka (at least for now, not sure about the future though as they do have a plan

[2018-06-05 02:02] jzelinskie commented on #6
cc @ecordell

We shipped dependencies in the Operator Lifecycle Manager in December. Our implementation is decoupled as much as possible into a separate optional component that we call catalog, but even doing so has implicated a lot of behavior on our ClusterServiceVersion-v1, which is the resource closest resembling the Application definition. I'm not sure if it's possible to store this informati

[2018-06-05 21:33] kow3ns commented on #28
@ant31 you don't need my permission :) It looks like their is general support

[2018-06-07 13:36] mattfarina commented on #16
What used to be _maintainers_ and _owners_ has been merged into one role called _subproject owner_. See https://github.com/kubernetes/community/blob/master/community-membership.md and the history there. This is in the Kubernetes sense. **Applications that run in Kubernetes shouldn't inherit how we do things. Rather, it should be what's appropriate for applications running in Kubernetes that aren't

[2018-06-13 21:24] keithguerin opened #46 "Primary link attribute?"
Many apps provide a primary link (e.g. PhpMyAdmin, WordPress admin, IP address) that is the user's main destination. It looks like this link is typically put into "infoItems" array. Would it be useful to define an attribute for 'primaryLink', so it is easier to identify and highlight in a UI?

[2018-06-13 22:33] jzelinskie commented on #46
For long term flexibility, I'd prefer this be convention rather than anything directly in the schema. Apps can have multiple "primary" endpoints.

[2018-06-13 22:56] keithguerin commented on #46
That makes sense Jimmy. Any suggestions on how to promote this convention? How would users/UI developers be able to identify these links?

[2018-06-14 01:10] deustis commented on #46
A convention that might be somewhat intuitive: take the first "link" in the info items list, which might be a URL string, or a reference to a Secret or Ingress.

[2018-06-15 03:38] gyliu513 opened #47 "What is the difference of this project with HELM?"
I think both of them can manage applications in Kubernetes, what is the difference of those two projects?

[2018-06-15 18:41] prydonius commented on #47
Good question, @gyliu513. The goal of the Application CRD is to actually complement tooling like Helm, ksonnet, or other by providing a standard way to manage applications within Kubernetes that can be adopted by those tools.

With Helm 3, the proposal is to move away from an in-cluster Tiller service that holds state for the application and move to using CRDs. The proposal mentions that Helm may

[2018-06-16 04:08] gyliu513 commented on #47
Thanks @prydonius and glad to see you here as well ;-)

So here the major concern seems from Tiller services and we want to deprecated Tiller in HELM and depend on Kubenetes CRD to manage the state of applications?

Also what do you mean of `With the Application CRD, we get interoperability between the various deployment tools and UIs`, I think with Tiller, we can still have the interoperability b

[2018-06-18 17:42] prydonius commented on #47
Likewise, good to see you here!

Yes, and this also opens up the ability for Helm to adopt the Application CRD.

The reasoning here is that Helm is just one way to deploy and manage apps on Kubernetes, but there are a lot of other tools you may want to use too (ksonnet, kustomize, raw YAML + kubectl etc.) to deploy to Kubernetes. If all of these tools adopt the Application CRD, then Kubernetes app

[2018-06-20 20:10] mattfarina commented on #7
@konryd I have some thoughts...

We are now discussing opinions on app operation and resource "linking". Kubernetes is not a PaaS and there's intent around not being opinionated as a PaaS would be. That way many can build their own processes on top of k8s. I'd argue that the default solution for describing an application, provided by the k8s project, is also not opinionated on decisions like this.

[2018-06-20 20:16] mattfarina commented on #6
@jzelinskie Did your dependency tracking system allow for cross namespace dependencies?

[2018-06-21 17:52] mattfarina commented on #32
When it comes to releases we're talking about API releases using the same schema k8s uses. The release we're talking about is v1beta1 and we hope to have people try that.

The scope for that still has not been decided but I hope we figure that out soon. We know it will be the CRD but what's unknown is what the controller will do.

[2018-06-25 10:47] cmoulliard opened #50 "Build of docker image fails - application_types.go:21:2: cannot find package"
I think that the doc should be updated/improved to mention which command should be first executed to install the missing vendor packages as I get this error during docker build

[code]

After doing a `dep ensure`, I get another error

[code]

**Remark** : Build executed against master branch of this repo

[2018-06-27 15:14] #28 closed

[2018-06-27 17:14] jzelinskie commented on #6
@mattfarina OLM targets the single namespace use-case. We'd like to work with the Multi-tenancy Working Group in order to have a general solution in Kubernetes.

[2018-07-09 14:15] #16 closed

[2018-07-19 21:45] liyinan926 opened #57 "Ownership between custom resources and Applications"
Issue #7 is about putting `OwnerReference` onto components that comprise an `Application`. I would like to use this issue to open some discussion on the ownership between custom resources and `Applications`. Here's a scenario: suppose there's a CRD for a type of applications, which need a set of Kubernetes resources to run, e.g.,  a StatefulSet, some Service, and also some other resources. The cor

[2018-07-25 23:58] mattfarina commented on #57
@liyinan926 This is a great topic to bring up. Thanks for doing it.

Consider the case of cross-compatibility of tools. This is what ultimately drove the creation of the application crd. What if someone finds the application created/managed by the operator in a UI like dashboard. Then they choose to delete it there. How will the cascading delete work from there?

The idea is to consider how people

[2018-07-27 04:39] liyinan926 commented on #57
@erictune

[2018-07-30 18:29] kalantar commented on #29
Could someone explain the motivation for including `componentKinds` are included in the model? The only use case that I can see is to query the list of resources. Having a list of kinds seems like an optimization.

[2018-07-31 23:12] cvignola opened #59 "Owner definition in Application CRD does not agree with README, not with sample/application.yaml"
Note README states type for maintainers and owners is the same:

- spec.descriptor.maintainers | []ContactData
- spec.descriptor.owners | []ContactData

However, in install.yaml they are dissimilar:
[code]
and
[code]

Moreover,

samples/application.yaml assumes maintainers and owners are the same type:

[code]
Interestingly, samples/application.yaml successfully creates an application object on Ku

[2018-08-06 23:05] deustis opened #60 "Improve end-user installation instructions"
The current [instructions](https://github.com/kubernetes-sigs/application#installing-the-crd) could use some improvement.

A few suggestions:
- Make a minimal manifest with only the CRD (i.e. remove namespace, statefulset, etc.)
- Put the manifest in a friendlier location (i.e. not "hack" directory)
- Put the relative path to the manifest in the command-line instructions.
- Nice to have: a section

[2018-08-10 15:48] mattfarina commented on #59
@cvignola Thanks for filing the issue

[2018-08-10 22:57] crimsonfaith91 commented on #57
@liyinan926 IMO, the CRD object should own the `Application` instance. We will always have one CRD object, but users may want to have multiple `Application` instances.

[2018-08-10 23:24] jzelinskie commented on #57
cc @ecordell

Users that choose to create Applications that encapsulate groups of CRs that are owned by Operators should have no issue. If a Resource is owned by a CR, it is the domain of an Operator, even if that resource is an Application or any type of CR. If a user deletes it, the Operator should properly restore the objects to their desired state. I'm not so sure there's an issue here beyond

[2018-08-12 03:56] liyinan926 commented on #57
@crimsonfaith91 I probably didn't make it clear. I didn't mean CustomResourceDefinitions themselves, but rather custom resources conforming to some CustomResourceDefinitions observed by a custom controller. There's a one-to-one mapping between a custom resource of a certain CRD type and the corresponding Application instance.

[2018-08-12 17:35] crimsonfaith91 commented on #57
@liyinan926 Noted. What you intended to mean is custom resource _instance_, not CRD. In this case, I think the application instance should be owned by the custom resource instance because the application instance is created _after_ the custom resource instance.

[2018-09-04 18:18] ecordell opened #63 "Splitting application definition from instance selection"
The current application definition combines the description for a kind of an application with the selector for finding an instance of that kind of application.

We were thinking about how to use the application definition for [OLM](https://github.com/operator-framework/operator-lifecycle-manager), which has many of the same metadata needs as in the Application CRD. The fact that both metadata and

[2018-09-06 09:06] subwiz opened #64 "Installing as per instructions fails"
I [followed the instructions](https://book.kubebuilder.io/getting_started/installation_and_setup.html), and get this error:

[code]

I'm using Mac High Sierra.

[2018-09-20 15:49] bassam opened #65 "Please add a roadmap"
Would be great to see a roadmap for this project. What are you planning to do next and in what timeframe?

[2018-09-20 15:51] bassam opened #66 "assemblyPhase in spec of status?"
Why is the `assemblyPhase` part of the `spec` of the application CRD and not the `status`? It's not something that a user would set, right?

[2018-09-26 13:31] ensonic commented on #66
+1 I don't see any status part at all and find that puzzling.

[2018-09-26 16:07] cvignola opened #67 "Application should comprise components across namespaces"
**Proposed:**  add namespace qualification to 'componentKinds'

**Discussion:**

It is abundantly clear that cloud native applications may be comprised of resources from multiple namespaces.

Scenarios:

- One scenario is that an Application corresponds exactly to a set of resources that are deployed together, and deployed to the same namespace.  This scenario is most easily described as a single

[2018-09-28 19:55] bsalmi commented on #64
I have the same issue, I'm using CentOS 7

[2018-10-09 17:04] cmoulliard opened #68 "[Proposition] Extend the componentGroupKind to define a Component's kind"
The ApplicationSpec type includes the field `spec.componentKinds` to group under a name, related kubernetes resources such as Service, StatefulSet, ConfigMap, Secret ... describing globally what the application is composed

[code]

If we use this Application custom resource to install/configure the environment on kubernetes to deploy the resources needed using a controller or operator, then it is

[2018-10-11 11:13] ant31 commented on #68
Installation configuration is part of the container build.
On the runtime, the initialization and execution of the container are already declared in the workload object (Deployment, DaemonSet, Job...).
The scope of the Application is to aggregate kubernetes resources associated with one application, what's going on inside the container and how it's built is not part of the proposal.

[2018-10-11 21:17] barney-s opened #69 "Move to kube-builder 1.0.x"
Move the code base to the new release of kube-builder.
This would be useful to start implementing features in AppCRD.

[2018-10-12 10:13] cmoulliard commented on #68
This is also the goal of my proposition excepted that I suggest to have a dedicated custom resource describing using a more human/readible resource, what are the components composing my application.

When you design/develop a microservices's application as an architect, you will then describe what are the different systems, part of your application that ultimately we have to install deploy on kube

[2018-10-15 09:31] cmoulliard commented on #65
I agree with you that having a roadmap like also how the project will be released and what will be its release cadence is needed.

Will it be possible to release the API describing the `Application Custom`'s resource separated from the Controller as projects developing controler/operator using a different toolkit such as [operator-sdk](https://github.com/operator-framework/operator-sdk) could then

[2018-10-16 04:40] cmoulliard commented on #68
@mattfarina @kow3ns @prydonius WDYT about my proposition ?

[2018-10-16 17:26] shaoxt opened #70 "To define ApplicationType as a new CRD"
Looking into the Application definition, how do we manage common metadata for sample type of application. For example if we have a lot of "SpringBoot" applications, some of the metadata should be same, it will be duplicated in each same type of application and it will be hard to maintain.

[2018-10-16 17:29] shaoxt opened #71 "To federate Application CRD"
If a company have multiple cluster,   how does Application replicate to all clusters?

[2018-10-17 07:33] cmoulliard commented on #70
I agree with you that we need a field or a type to describe such info. This is the reason why I was also proposing in #68 to extend the Application CRD with Component CRD (and having a one to many relation) including such info

Example

[code]

[2018-10-18 08:52] ant31 commented on #70
related to: https://github.com/kubernetes-sigs/application/issues/63

[2018-10-19 16:46] cmoulliard commented on #71
You will need such a lib [1] to be able to watch a resource on multiple clusters and of course to deploy the resources on all the resources

[1] https://github.com/admiraltyio/multicluster-controller

[2018-10-22 12:26] ensonic commented on #71
Maybe @shaoxt meant that parts of an app run on one cluster and other part on another cluster. Right now the app CRD only seems to connect an app name (and related metadata) with a label selector plus a restriction of kinds.

[2018-10-22 12:28] ensonic commented on #60
+1, the controlelr does nothing, hence for simple experiments, I'll like to just deploy the crd. Maybe use a subdir and split the yaml into parts.

[2018-10-22 12:39] ensonic opened #72 "spec.componentKinds not sufficiently described"
In README.md spec.componentKinds lack descriptions for the 'group' key. This seems to be either empty, `core` or `apps` in the samples. Please describe.
Also the GroupKind is written as a link, but the link target does not exists.

[2018-10-22 12:56] ensonic opened #73 "matchLabels is insufficient for legacy uses. Can we support matchExpressions too?"
This syntax requires me to label all resources that belong to an app with the *same* label (both key and value). This might be hard for external pieces, that I don't want can't change easily.
[code]
Why can't we also support this:
[code]

[2018-10-22 14:20] ensonic commented on #60
For the time beeing here is a copy of the app.crd as standalone file:
https://github.com/GoogleCloudPlatform/marketplace-k8s-app-tools/blob/master/crd/app-crd.yaml

[2018-10-22 15:35] deustis commented on #72
The `group` key refers to the resource's [API Group](https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-group).

The README description should be updated to add that link. Also, I just noticed the README has an example where the group field is empty. This was originally a short-hand for "core", but I believe the short-hand is now discouraged.

[2018-10-25 06:43] cizezsy commented on #64
The same issue, I'm using Fedora 28.

[2018-10-25 16:06] kow3ns commented on #73
The selector is a metav1.LabelSelector so it, in general, supports SetBased selection. The app label is a best practice decided on by the app definition wg.

[2018-10-28 17:17] ensonic commented on #72
Thanks for the explanation. Before I send a PR to update it, do I understand right that the purpose of specifying the componentKinds is additional filtering on top of the label selector?

[2018-10-29 17:37] deustis commented on #72
It is more like a necessity so that the client (e.g. a console UI) knows which APIs to list (before matching against the label). It does also have the implication of being an additional filter on top of the label.

[2018-10-31 21:52] barney-s opened #76 "Status Aggregation for Application CRD"
## Background
Application CRD has a list of GroupKinds and a LabelSelector to logically group live objects in the cluster. The Application CRD also provides a way to attach descriptive metadata to the logical grouping.

## What does this solve
This proposes to enhance Application CRD controller to provide status tracking for the objects that match the selectors. This dramatically simplifies the st

[2018-11-01 16:06] barney-s commented on #76
@kow3ns please review the proposal.

[2018-11-01 16:48] enisoc commented on #76
@barney-s Could you copy the markdown into an .md file and make a PR to add that file to a new `docs/proposals/` dir in the repo? That would make it easier to make comments on specific parts.

[2018-11-01 17:43] barney-s commented on #76
Done: https://github.com/kubernetes-sigs/application/pull/77

[2018-11-02 17:29] kow3ns opened #78 "Application Readiness"
# Application Status

## Objective
The objective of this proposal is to provide a mechanism to aggregate the status of an Application. We propose a mechanism to compute the readiness, availability, errors, and disruptions associated with an Application. As black and white box health monitoring are a complicated topic that deserves its own treatment, we do not address it in this proposal.

## Backg

[2018-11-02 17:32] kow3ns commented on #76
I borrowed from the prior and came up with a new issue https://github.com/kubernetes-sigs/application/issues/78

[2018-11-02 19:06] ant31 commented on #78
@kow3ns similarly to : https://github.com/kubernetes-sigs/application/issues/76#issuecomment-435105857, could capture this in a PR/.md, so it's easier to comment?

[2018-11-05 12:57] konryd commented on #78
Please consider specifying the behavior for nested Apps. Either explicitly saying it will *not* have a status as a component or handle the (nasty) implications in the doc.

Admittedly, it is not a core component, but one that the App CRD itself could not pretend not to be aware of :)

[2018-11-06 16:53] erictune commented on #78
I want to propose changes to this issue. They are longer than can reasonably fit in a comment.  What is the suggested way to do that?  New issue or google doc or PR?

[2018-11-06 17:00] ant31 commented on #78
I think google doc is easier to iterate and comment

[2018-11-15 16:20] ensonic commented on #72
FYI, there is a PR in https://github.com/kubernetes-sigs/application/pull/74 since two weeks, that ways for review/merge.

[2018-11-18 19:16] jlegrone commented on #64
I believe this is related to #69, as that's the latest documentation for kubebuilder. You should be able to build locally by following these instructions:

https://github.com/kubernetes-sigs/application/tree/42782aebdc651ba13071eebd6b58d50484237b37#controller

[2018-11-18 19:32] jlegrone commented on #60
Addressing #69 should help with this since newer versions of kubebuilder use kustomize:

https://book.kubebuilder.io/beyond_basics/deploying_controller.html

[2018-11-20 08:21] cmoulliard commented on #68
To support the `Component CRD`'s approach, I have created this demo project where we install 2 microservices or components and consume a service

https://github.com/snowdrop/component-operator-demo#introduction

WDYT @mattfarina @kow3ns  @prydonius

[2018-11-21 08:57] #72 closed

[2019-01-02 23:44] resouer commented on #40
@jzelinskie The use case in Alibaba is we are seeking for a mechanism to audit and manage all CRDs and controllers in a unified way. i.e. A meta CRD for applications. The idea of Application does match the expectation, and I am thinking if it's possible for Operator framework to adopt similar idea as well? Or, maybe it's already happening?

[2019-01-04 04:15] jzelinskie commented on #40
The Application CRD schema is largely inspired by the metadata used in OLM's Resources when it was a part of Tectonic. However, that's where the similarities end. At this point in time, the Application CRD is for managing arbitrary groups of resources. It does not want to become any more opinionated than that.

The OLM component of the Operator Framework is for very specifically for managing Opera

[2019-01-10 00:57] EronWright opened #82 "Add descriptor block to docs/example.yaml"
As a follow-on to 28fd24c4bfcf8b1aa2d7a295ecc487ccc61ea88e, update `example.yaml` to nest relevant information into a `descriptor` block.

[2019-01-12 19:17] garethr commented on #60
The current installation instructions also assume this is checked out in GOPATH. If it's not then `make manifests` fails as it can't find the vendor directory. If someone isn't familiar with the Go toolchain then that can be tricky to work out.

[2019-01-22 16:22] cmoulliard opened #84 "Enrich the code of the application_controller.go with k8s labels"
The existing code of the `application_controller.go` sets the recommended k8s labels [1]
here in the code

https://github.com/kubernetes-sigs/application/blob/master/pkg/controller/application/application_controller.go#L40-L47

[code]

to decorate a k8s resource created but don't use it within the `controller_application` code to annotate the Deployment resource.

I propose to add them when the la

[2019-01-31 22:00] barney-s commented on #76
#81 merged for this

[2019-01-31 22:41] barney-s opened #86 "Proposal: Flag to adopt resources"
Proposal is for adopting resources that match the AppCRD selectors.
[code]

In some use cases where application crd is used, the tooling explicitly sets OwnerReference of the objects (that match appcrd selectors) to point to the Application object.

Can we make this automatic controller by a flag that is turned off by default.

[2019-01-31 22:46] barney-s commented on #86
@kow3ns @huyhg FYI

[2019-02-04 12:38] ant31 commented on #86
related to https://github.com/kubernetes-sigs/application/issues/7

[2019-02-05 18:28] cmoulliard opened #88 "tests are failing"
## Issue

One of the test is failing when it is executed

[code]

[2019-02-06 08:41] cmoulliard commented on #88
The test is failing as the expected and observed lists are empty.

[2019-02-07 13:27] ant31 commented on #6
I have an application composed with:
1. backend
2. frontend
3. database

I create 3 Application Instances to be able to group their resources and manage each component individually.
I also want to have an overview of the health of a whole applications stack, so I create an application Instance that matches the other 3 applications instances.

The hierarchy more or less looks like this:
[code]

[co

[2019-02-07 18:09] cmoulliard commented on #6
This use case @ant31 is definitely what our customers are developing and where, what we call an application, is defined by a collection of components / services.

Such a project corresponds for the java developers to a [maven project](https://github.com/snowdrop/component-operator-demo) hierarchy as defined her after:

[code]

This application will be deployed using a `myapp` Application CRD and s

[2019-02-07 20:32] cmoulliard commented on #6
I think that your idea is different from the definition suggested within this kep -> `// Dependencies is a list of Applications on which this Application depends.`. I like nevertheless your suggestion as it allows an application/component to express something which is needed, should be installed on k8s, is required to operate correctly. I'm referring to a list of features into my project's definit

[2019-02-08 16:56] cmoulliard opened #91 "Does the Application operator supports Components ?"
I'm a bit confused about how the Application operator populates a list of components from an Application

This [code](https://github.com/kubernetes-sigs/application/blob/c70fb844daa792f9a3952c4b09dbaab84c5d019c/pkg/genericreconciler/genericreconciler.go#L123) is responsible to get the components of a resource

[code]
but if I look to the code [developed](https://github.com/kubernetes-sigs/applicat

[2019-02-08 19:48] barney-s commented on #91
The guts of this controller is borrowed from another controller which has multiple components (composition). The application controller is just a single component, the AppCR itself.

May be in future once we decide to support explicit composition/grouping in AppCRD specification, we could potentially use components.Components to reconcile the appcrd.groups/components separately.

[2019-02-08 22:45] barney-s opened #92 "Add status support for more core resources"
Deployment
  ReplicaSet and ReplicationController
  StatefulSet
  DaemonSet
  Pod
  Ingress
  Service
  PersistentVolumeClaim

[2019-02-09 10:28] cmoulliard commented on #91
Could we then better document what has been done, how it should be used and removed then what is not needed ? @barney-s @ant31 @mattfarina

[2019-02-11 09:22] cmoulliard opened #93 "[Suggestion] Add EnVarFromSource as new InfoItemSourceType"
## Description

The `InfoItemSource` allows to identify the type of the information we want to capture using an `InfoItem`. This information is defined using the [InfoItemSourceType](https://github.com/kubernetes-sigs/application/blob/master/pkg/apis/app/v1beta1/application_types.go#L217-L242).

Unfortunately, the existing list of `const` as defined hereafter does not include the Kubernetes type:

[2019-02-11 09:39] cmoulliard opened #94 "[Suggestion] Add EnVar as new type to be used with InfoItem"
## Suggestion

The `InfoItem` allows to define human readable key,value pair containing important information about how to access the Application.

One of the most important information which is represented by the K8s Env Var [1] is currently missing.

Such EnvVar are used by many java, nodejs, ... applications when they are deployed as they will let by example to configure a Datasource to access

[2019-02-14 10:41] ant31 commented on #93
I would even go a step further:

I'm not sure why it should be limited to any field?
Couldn't we use ObjectRef to all fields, like it is done in https://github.com/kubernetes-sigs/kustomize ?

Say I want to bubble up an annotation or some field in a CRD to display it in a UI/InfoItems

[2019-02-14 18:07] cmoulliard commented on #93
If we can generalize, why not. I will have a look and provide then a PR.

[2019-02-20 19:10] #88 closed

[2019-02-20 19:14] #86 closed

[2019-02-22 12:38] cmoulliard commented on #93
Where do you see that kustomize use `ObjectRef` @ant31 within their code ?

[2019-02-22 13:21] ant31 commented on #93
Where else could they be deployed?

[2019-02-22 13:36] wgrzelak opened #95 "ingressRef does not support HTTPS protocol"
Currently `ingressRef` supports only HTTP protocol. I would like to have there HTTPS protocol as well.

Current state:

[code]

Preferred state:

[code]

I think the same needs could be with `serviceRef` as well.

[2019-02-22 22:16] prydonius commented on #95
@wgrzelak can't the protocol be worked out by the client by requesting the Ingress object and reading the host and tls configuration in that object?

[2019-02-25 20:47] mattfarina commented on #93
@kow3ns thoughts? Why do we limit it?

[2019-02-25 21:00] mattfarina commented on #68
I like to keep a separation of concerns.

Information about how an image was built would be better placed on the image itself. Maybe as [an annotation](https://github.com/opencontainers/image-spec/blob/master/annotations.md). No matter where that image is run this information would be available.

If something should be exported this will show up in a Service. The space needed will be in an existin

[2019-02-28 18:32] cmoulliard commented on #93
As some types are not published as K8s Kind/object, then we can't use at all `ObjectRef` but instead an object which is of type `interface {}`

Here is an example

[code]

WDYT @ant31 @mattfarina @kow3ns ?

[2019-03-01 10:30] ant31 commented on #93
https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/types/var.go#L29-L47

Shortcut my be useful but it works by using both information objectRef and fieldRef
example:
[code]

[2019-03-04 14:06] cmoulliard commented on #93
@ant31 This approach will be horribly complex if I want by example to define a List of `EnvVars`. How can I define the `fieldRef` in this case ? How the validation using [`openApi v3 Schema`](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#validation) could then take place ?

[2019-03-06 19:05] barney-s opened #99 "make deploy with right permissions and image"
Fix make deploy to use the latest image and with appropriate rbac for the controller.

[2019-03-12 18:43] tamalsaha opened #101 "Generate clientset, informers and listers"
Can this project include the code-generator generated clientset, informers and listers for Application CRD?

[2019-03-23 04:58] barney-s opened #102 "Support GroupVersion and Groups in spec.componentKinds"
The proposal is to support both GroupVersion and Group in the spec.componentKinds.
We will ignore and not validate the version part of the GroupVersion.
The field type and name will still reflect GroupKind to guide the user. But we are relaxing the allowed values to reduce user friction.

[2019-04-03 21:49] ju187 opened #104 "Error adding configMap"
Tried to include configMap into the application and got an error
error: unable to recognize "example.yaml": no matches for kind "ConfigMap" in version "apps/v1"

in the yaml it is defined like this
....
componentKinds:
    - group: core
      kind: Service
    - group: apps
      kind: Deployment
    - group: apps
      kind: ConfigMap
....
---
apiVersion: apps/v1
kind: ConfigMap
metadata:
  name:

[2019-04-04 14:50] ant31 commented on #104
ConfigMap is a 'core' resource

[2019-04-26 20:06] ensonic commented on #66
/remove-lifecycle stale

[2019-04-29 08:30] ensonic commented on #71
FYI: for multicluster fedaration we've build
https://github.com/googlecloudrobotics/core/blob/master/docs/concepts/federation.md
this leave the challenge for app-crd to reference the parts on other clusters.

/remove-lifecycle stale

[2019-04-29 08:31] ensonic commented on #60
/remove-lifecycle stale

[2019-05-01 17:09] prydonius commented on #67
FYI one issue with this is that ownerReferences [cannot cross namespaces](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-dependents). We'd need to make Application a cluster-scoped resource in order for resources across namespaces to owned by it (or introduce a separate ClusterApplication CRD).

[2019-05-13 16:08] huyhg opened #105 "Controller shouldn't treat missing components as error"
Currently, for each item in the `componentKinds` list, if the application controller cannot find a matching resource, it will surface that as an error in the status.

We should surface this as a warning/informational instead. It is possible that the `componentKinds` list is misconfigured and the application is still functioning properly.

[2019-06-04 21:13] tmarcu opened #107 "Update to support Kubernetes 1.14"
The [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg)  has been updated to Kubernetes 1.14, which moves `scheme` under `/pkg` instead of `/pkg/runtime` now. The import in `register.go` is no longer valid so it will not compile.

[2019-06-19 14:03] gyliu513 commented on #6
What is the plan for this? Any update?

[2019-06-19 14:03] gyliu513 commented on #6
/remove-lifecycle rotten

[2019-06-22 07:46] #14 closed

[2019-06-22 07:46] #18 closed

[2019-06-22 09:48] #5 closed

[2019-06-22 12:51] #31 closed

[2019-06-22 12:51] #11 closed

[2019-06-22 12:51] #33 closed

[2019-06-22 14:53] #37 closed

[2019-06-22 18:57] #12 closed

[2019-06-22 23:01] #43 closed

[2019-06-23 04:06] #46 closed

[2019-06-23 08:10] #7 closed

[2019-06-23 09:11] #32 closed

[2019-06-23 11:13] #50 closed

[2019-06-23 23:25] #29 closed

[2019-06-24 03:29] #59 closed

[2019-06-24 04:30] #57 closed

[2019-06-24 11:37] #63 closed

[2019-06-25 05:54] #69 closed

[2019-06-25 07:56] #65 closed

[2019-06-25 08:57] #70 closed

[2019-06-25 13:01] #73 closed

[2019-06-25 20:09] #78 closed

[2019-06-26 03:16] #64 closed

[2019-06-27 02:38] #40 closed

[2019-06-27 06:42] #82 closed

[2019-06-30 18:02] #67 closed

[2019-07-01 00:08] #76 closed

[2019-07-04 21:40] #84 closed

[2019-07-08 08:05] JiyeYu commented on #107
Seems the same problem happens on "controller-tools" as well.

[code]

[code]

[2019-07-09 02:19] #92 closed

[2019-07-09 12:29] #91 closed

[2019-07-11 11:14] #94 closed

[2019-07-17 06:55] gyliu513 opened #110 "Enable POWER Support for application"
The dockerfile https://github.com/kubernetes-sigs/application/blob/master/Dockerfile only support x86 now, it is better to enable POWER support as well.

[2019-07-23 00:46] #95 closed

[2019-07-29 18:31] janetkuo opened #111 "Cluster-scoped Application CRD"
Application CRD doesn't work with cluster wide configurations, because it's namespace-scoped.

We could create a `ClusterApplication` CRD, which can be an owner of both namespace-scoped and cluster-scoped resources.

[2019-08-01 16:32] #93 closed

[2019-08-03 21:24] #99 closed

[2019-08-06 20:21] janetkuo commented on #104
Like @ant31 mentioned, ConfigMap should be under `core` instead of `apps/v1`. Please reopen if this doesn't address your need.

/close

[2019-08-06 20:21] #104 closed

[2019-08-09 20:43] #101 closed

[2019-08-20 07:01] #102 closed

[2019-08-29 17:33] #105 closed

[2019-09-03 13:00] hemantha-kumara opened #112 "What is the use of ConfigMapKeySelector? How to get ConfigMap in app get?"
Can you explain what is the use of ConfigMapKeySelector. Is it used by the Application to list the configmaps that are used by it?

When an application is created and "ConfigMap" is included in the application definition, the output of

does not list the configMap. I have looked into the issue [ConfigMap not listed](https://github.com/kubernetes-sigs/application/issues/104) where the user had an i

[2019-09-03 16:12] hemantha-kumara opened #113 "Does application supports service and configmap componentKinds ?"
Hi ,

I was trying to create application which is having  service, configmap and statefulset componentkinds.
[code]

But in application components list I am seeing only statefulset status. no service and configmap. Is this expected behaviour?
[code]
Here is my sample application
[sample_application.txt](https://github.com/kubernetes-sigs/application/files/3570405/sample_application.txt)

[code]

[2019-09-03 16:22] hemantha-kumara commented on #104
@janetkuo  I tried adding configmap
[code]
But in application status or logs, I dont see any information regarding configmap and service.
For more details on this issue pls refer to  https://github.com/kubernetes-sigs/application/issues/113

[2019-09-23 21:32] #66 closed

[2019-09-26 10:32] #71 closed

[2019-09-26 10:32] #60 closed

[2019-09-27 18:51] barney-s commented on #110
Thanks for the PR. Do you know how to enable that support ?

[2019-09-28 02:50] gyliu513 commented on #110
@barney-s  We can use cross compile in Go to build POWER docker images, but the problem is we cannot test the docker image.

[2019-10-10 06:49] barney-s commented on #113
There is a bug that we need to fix.
Can you check the logs and search for "delete"

[2019-10-10 06:51] barney-s commented on #104
- group: v1
    kind: ConfigMap

@hemantha-kumara

[2019-10-10 06:52] barney-s commented on #113
- group: v1
    kind: ConfigMap

@hemantha-kumara

[2019-10-10 06:54] barney-s commented on #112
Try using

[code]

[2019-10-10 07:03] barney-s opened #115 "ConfigMaps from application deleted a second after creation"
related to https://github.com/GoogleCloudPlatform/click-to-deploy/issues/592

Issue:
- statefulsets creation fails due to missing configmaps
- configmaps from application are created successfully by the deployer and deleted by application-controller-manager a second later;

Logs:

[code]

[2019-10-10 07:04] barney-s commented on #115
Second observer() in the code below causes a drift between expected and observed which causes a deletion of the resources.
https://github.com/kubernetes-sigs/application/blob/f1957c31a3c3f92ef8c40849ecbb311125af8346/pkg/genericreconciler/genericreconciler.go#L227

[2019-10-17 16:54] hjacobs opened #118 "Why is assemblyPhase in "spec" and not in "status"?"
Sounds like it should be part of the "status" subresource (feedback from controller)?

[2019-10-21 16:11] barney-s commented on #111
In addition to cluster scoped Application CRD, we can consider these as well:

1. Call then something more generic than application - say Stack ?
2. Allow different ways of grouping
  a. filtered addressing (dynamic) - labels + GK
  b. direct addressing  - GK/namespace/name OR GK/name OR uuid
  c. Nesting of application CRDs
3. Allow map[]{} field attachment.

[code]

[2019-10-21 17:48] prydonius commented on #111
1. Do we expect the Application CRD and Stack/something else CRD to have the same/similar spec? That might be confusing, and would probably be better to call it ClusterApplication CRD. On your particular suggestion about Stack, I think Docker uses the same name for their Docker Application Stack CRD.

2. Would this be for componentKinds?

3. I'm not exactly sure what this means, can you please ela

[2019-10-29 23:49] mrbobbytables opened #121 "Clean up outside collaborators"
Hey there @kubernetes-sigs/application-admins,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through the

[2019-11-01 00:51] barney-s opened #123 "Application controller in a hot loop"
Application controller is continually looping since the application CR's generation is bumped on every reconcile. The root cause is the .status has a list of components. The components in the list are not ordered and each time the controller reconciler the order changes triggering a generation change. Which in turn triggers a reconciliation.

[2019-11-06 00:03] barney-s opened #125 "Improve userAgent for Application Controller Manager"
The userAgent shows up as  “manager/v0.0.0”, which really doesn’t help identify what controller it is. This is useful when debugging the source of changes in the API server audit logs.

[2019-11-16 15:31] #6 closed

[2019-11-20 20:07] #123 closed

[2019-11-20 20:07] #115 closed

[2019-12-01 15:25] mrbobbytables commented on #121
Permissions have been cleaned up.

If you have any questions, please don't hesitate to reopen or ping me on slack.

Thanks!
/close

[2019-12-01 15:25] #121 closed

[2019-12-05 12:28] zryfish opened #129 "Is there any plan to move to kubebuilder v2?"
Our project uses kubebuilder v2 to create api group, it's painful to reuse application controller in our project. I wonder is any plan to migrate to kubebuilder v2 ?

[Migration from v1 to v2](https://book.kubebuilder.io/migration/guide.html)

[2019-12-06 09:14] #107 closed

[2019-12-10 08:21] #129 closed

[2019-12-12 01:56] functicons opened #130 "build error: Ignoring child directory app: unable to import "app""
I followed the instructions to run `make` to build the project, but got the following error:

[code]

My Go version is 1.13.4.

[2019-12-16 21:21] barney-s opened #131 "Add support for protocol in service ref"
Add support for protocol string in the service and ingress info sections.
This helps with users of application crd to construct URL with appropriate protocol.

https://EXTERNAL-IP
or
http://EXTERNAL-IP

https://github.com/kubernetes-sigs/application/issues/95

[2020-01-28 10:12] tzununbekov opened #136 "[Question] CRD in componentKinds?"
Repository [readme](https://github.com/kubernetes-sigs/application/blob/88337a130765b8dd8498a209ea0859fc048dde06/README.md#application-objects) says that Application object can aggregate different kinds of components including CRD, but I couldn't make it work with any kind of custom resources. My humble attempt to debug controller code showed that there is no CRD resources in schema known types he

[2020-01-29 23:08] janetkuo opened #137 "e2e test flake: Application CRD should install correctly"
Test failure from #128:
https://travis-ci.org/kubernetes-sigs/application/jobs/643342852

[code]

/assign @nan-yu
@barney-s

[2020-01-29 23:10] janetkuo commented on #136
@barney-s @nan-yu

[2020-01-29 23:11] janetkuo commented on #111
/remove-lifecycle stale

[2020-01-29 23:18] janetkuo commented on #112
Ref #113

Please try again using `v1` (instead of `core`) as group. If it still doesn't work, please reopen this issue.

cc @nan-yu for doc improvement

[2020-01-29 23:18] #112 closed

[2020-01-29 23:18] janetkuo commented on #113
Please try again using `v1` (instead of `core`) as group. If it still doesn't work, please reopen this issue.

[2020-01-29 23:18] #113 closed

[2020-01-29 23:21] janetkuo commented on #130
@barney-s @nan-yu

[2020-01-29 23:24] janetkuo commented on #118
/remove-lifecycle stale

[2020-01-29 23:25] janetkuo commented on #118
@kow3ns @barney-s @nan-yu

[2020-01-29 23:26] janetkuo commented on #129
Yes, we plan to do that!

cc @nan-yu

[2020-01-30 13:43] ant31 commented on #111
I'm not convinced we should introduce another layer, the application layer not being widely adopted yet

What differences would the ClusterApplicationCRD have ?

[2020-01-31 02:04] barney-s commented on #110
/remove lifecycle/rotten

[2020-01-31 02:58] barney-s commented on #136
It should be supported. We will investigate and fix it.

[2020-01-31 09:46] barney-s commented on #137
resolved

[2020-01-31 09:46] barney-s commented on #137
/close

[2020-01-31 09:46] #137 closed

[2020-01-31 09:47] barney-s commented on #130
Could you try with the newer version of the repo ?
@functicons

[2020-01-31 09:47] barney-s commented on #130
/assign @functicons

[2020-01-31 09:48] barney-s commented on #110
/close via #120

[2020-01-31 09:49] barney-s commented on #110
/close

[2020-01-31 09:49] #110 closed

[2020-01-31 09:49] barney-s commented on #110
/remove-lifecycle rotten

[2020-01-31 09:50] barney-s commented on #118
assemblyPhase is a marker set by the user of App CRD. It is not something computed by the controller. Hence in spec.

[2020-01-31 09:52] barney-s commented on #125
With the upcoming move to kubebuilder 2 this should be resolved.
@nan-yu

[2020-02-02 13:32] lewismarshall opened #141 "Kustomize not working direct from Makefile without moving files"
It seems as though the resources need moving to work with kubectl kustomize versions:
- v1.15.0
- v1.17.0

[code]

[code]

moved resources to ./config/ and patched the file:
[code]
...and all ok

Related to issues:
- https://github.com/kubernetes-sigs/kubebuilder/issues/654
- https://github.com/kubernetes-sigs/kustomize/issues/776

[2020-02-04 02:02] janetkuo commented on #141
@barney-s @nan-yu

[2020-02-04 02:04] janetkuo commented on #125
ref #139

[2020-02-04 17:33] nan-yu commented on #141
This will be fixed when we finish migrating to kubebuilder 2.0

[2020-02-04 22:13] janetkuo commented on #141
#139

[2020-02-05 19:25] barney-s commented on #125
kubebuilder v2 changes merged. Closing this.

[2020-02-05 19:25] #125 closed

[2020-02-05 19:26] barney-s commented on #130
closing this. Since with newer changes make works.

/close

[2020-02-05 19:26] #130 closed

[2020-02-05 19:27] barney-s commented on #141
#139 is merged. This should be resolved.
/close

[2020-02-05 19:27] #141 closed

[2020-02-06 06:16] tzununbekov commented on #136
@barney-s any updates? could you at least confirm that this issue exist?

[2020-02-06 07:12] barney-s commented on #136
@tzununbekov - We were in the midst of rearchitecting the controller. Its done now.
Would you retest with the latest controller. Please attach the spec you used.

[2020-02-07 11:21] lewismarshall opened #147 "Error when application resource deleted ERROR recorded in logs"
**Using local build of master@01d8bf78**

Deleting an application resource will produce an error in the logs after objects can't be found until controller restarted:

[code]

The application resource is here:
[code]

[2020-02-07 13:00] lewismarshall opened #148 "Condition Ready is True when Deployment replicas are 0"
Using - master@01d8bf78

It would seem as though the controller isn't updating the status when deployment scaled (or even if a deployment deleted and re-created with bad image):
[code]
And then the pertinent logs after the next reconciliation period:
[code]
And finally the application object after the reconciliation:
[code]

[2020-02-07 17:01] barney-s commented on #147
@lewismarshall Just to confirm is this with latest code base ?

[2020-02-07 17:05] barney-s commented on #148
@lewismarshall Thanks for the issue.
We will more tests around this case.

@nan-yu FYI

[2020-02-07 17:30] nan-yu commented on #147
@lewismarshall Thanks for reporting the issue. We will work on a fix soon.

[2020-02-07 18:18] nan-yu commented on #147
/close

[2020-02-07 18:24] barney-s commented on #147
/close

[2020-02-07 18:24] #147 closed

[2020-02-07 18:28] lewismarshall commented on #147
Yes indeed

On Fri, 7 Feb 2020, 17:01 barney-s, <notifications@github.com> wrote:

[2020-02-07 18:49] nan-yu commented on #148
@lewismarshall
I ran some tests on my end and thought the controller is doing the right thing. Basically, the controller computes the deployment status based on `conditions`. It considers the deployment status as `Ready` in the following scenarios:
- if no conditions are found in deloyment status, OR
- if condition.type == `Processing` is found, condition.status must be true and condition.reason m

[2020-02-07 18:51] nan-yu commented on #147
@lewismarshall The issue was fixed with the latest commit. Feel free to close the issue after you confirm it is working okay. Thanks!

[2020-02-07 18:52] nan-yu commented on #147
No worries. The issue has been closed. :wink:

[2020-02-09 20:00] barney-s commented on #131
/close

[2020-02-09 20:00] #131 closed

[2020-02-10 07:48] barney-s commented on #136
@tzununbekov - With the latest changes the we use restMapper to get the GVK for the given GK
https://github.com/kubernetes-sigs/application/blob/master/controllers/application_controller.go#L117

Could you check if this works for the Knative types.

We will add e2e test cases to cover these scenarios.

[2020-02-10 23:54] nan-yu commented on #112
sample updated in PR https://github.com/kubernetes-sigs/application/pull/156

[2020-02-11 11:12] tzununbekov commented on #136
@barney-s thanks for the update, but I'm having issues with CRD deployment. Go build fails with a following error:
[code]
looks like dependencies issue :thinking:

I wanted to go with `make deploy` approach as readme suggests, but I don't like that it tries to install different tools which I already have installed (not in /bin/* as Makefile expects, but in go binaries)

Last time when I deployed A

[2020-02-12 06:03] barney-s commented on #136
Regarding the build that seems odd. We do not check for compiler version may be we need to ?
We are setting the client-go version in go.mod to.  k8s.io/client-go v0.17.0

Are you sure the deps are being installed as part of "make tidy" and "make all" ?

The reason we install in hack/bin/* is to use a specific version of the tooling binaries.
We did not want to override the binaries that are under

[2020-02-12 07:00] tzununbekov commented on #136
@barney-s you're right, dependency problem was on my side. And yes, new example with CRD looks like something that I tried to achieve. Thanks for helping with this issue!

[2020-02-13 18:18] lewismarshall commented on #148
@nan-yu  fair enough regarding scaled down:

Not sure about this one though:

If the objects can't be found due to:
- application not yet deployed
- bad select labels (my bad)
- bad RBAC for operator (investigation)

Maybe this shouldn't be `Ready` but `Unknown`? Would like to use application kind to work out when applications are really `Ready` but at the moment it's kind of "not really known so

[2020-02-14 06:34] barney-s opened #161 "Support .status.condition type Ready for unknown types"
For CRDs, we propose to look for .status.condition types  ['Ready', 'InProgress'] to deduce the status of the the object.

[code]

This is continuing #81
Proposal is captured in #79

[2020-02-14 06:38] barney-s commented on #161
/assign barney-s

[2020-02-14 10:40] ant31 opened #163 "Add printerColumns in the CRD spec"
Add printerColumns in the CRD  for a better integration with Kubectl:

Suggestions about fields to display?
e.g:
[code]
output:
[code]

[2020-02-14 14:35] ant31 opened #165 "Integrate ApplicationCRD with existing Kubernetes Distributions"
To make it easier for the user to get started with the ApplicationCRD the installation should close to other native API.
Actions are to be identified and integration points could from multiple points:
- [ ] [kubernetes cluster addons](https://github.com/kubernetes-sigs/cluster-addons)
- [ ] Helm Chart
- [ ] Kubespray / Kubeadm / Kops options at installation or upgrade of a cluster
- [ ] Minikube o

[2020-02-14 14:46] ant31 opened #166 "Release images and resources"
In order to use the ApplicationController/CRD the users should not have to clone and build themself images and resources.

To get started a user would only have to do:

[code]

Also required for #165

[2020-02-14 21:47] nan-yu commented on #148
I agree it's unfair to set an application `Ready` when it's actually `Unknown`. We updated how we compute resource status [here](https://github.com/kubernetes-sigs/application/pull/167/commits/cbeea89e2a6be136491bbbe2d65f7227279f33bc) based on this [public doc](https://docs.google.com/document/d/1RAPC5-LCb_VBpzvbpCLn8Z-7eilRAWmO0RGbVuChhPc/edit#heading=h.rqs3jxocuzbw).

For the bad RBAC error, the

[2020-02-15 18:57] barney-s commented on #161
Support for Ready and InProgress added via #162

[2020-02-18 07:54] barney-s commented on #166
How do you propose we make the release ?
What are the artifacts ?

[2020-02-19 13:09] ant31 opened #170 "condition with a contradiction: "type: Error, reason: "NoError""
The following condition is confusing, it's in 'error', but reason is set to 'NoError'

[code]

Is it expected, if yes: could we improve the message/reason fields ?

[2020-02-20 08:43] ant31 commented on #166
- Publish a container with new tags.
- Generate a all-in-one kubernetes-resource ready to be directly use with kubectl

 Both could be easily generated via the CI.

[2020-02-20 09:37] cmoulliard commented on #165
@ant31 Is the `Kubernetes Cluster Addons` already [implemented](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/addons/0035-20190128-addons-via-operators.md) and available  with kubernetes ?

[2020-02-20 11:29] cmoulliard commented on #68
/reopen

[2020-02-20 11:30] cmoulliard commented on #68
/remove-lifecycle rotten

[2020-02-20 11:31] cmoulliard commented on #68
FYI: The Component API Spec has been moved to this project : https://github.com/halkyonio/api/blob/master/component/v1beta1/types.go#L50-L74
and is currently supported by this operator : https://github.com/halkyonio/operator

[2020-02-20 18:47] barney-s commented on #166
/assign @nan-yu

[2020-02-20 18:47] #163 closed

[2020-02-20 18:49] barney-s commented on #161
#162 is merged.

/close

[2020-02-20 18:49] #161 closed

[2020-02-21 10:28] ant31 commented on #170
@nan-yu   is that intended ?

[2020-02-21 10:33] ant31 opened #173 "Rename 'manager' to a more specific name: `kube-app-manager`"
As application aim to be more integrated and collocated with other 'managers' and controllers (#165) , logfiles, logs, binaries, labels, filename, rolebinding, roles... should be more specific to be facilitate identification, ownership and tooling (e.g grep on logs).

I propose to rename `manager` to `kube-app-manager`

Please do a +1 before I go through this renaming.

cc @nan-yu @barney-s

[2020-02-21 17:19] nan-yu commented on #173
Sounds good to me
+1

[2020-02-21 17:26] nan-yu commented on #170
Yes, that's intended. The type `Error` with `False` status implies no error, which is in line with reason `NoError`.
Initially, I was thinking remove this condition. However, I saw somewhere documented that the guidelines around condition is to set the condition to false, not clear it. The absence implies **Unknown**, not **false**.
@ant31

[2020-02-21 18:23] barney-s commented on #173
+1 thanks

[2020-02-24 12:49] ant31 opened #175 "Why is there a Webhook configuration ?"
I see several configuration files about enabling webhook, but is there any usage of webhook in the controller? What does this feature enables?

[2020-02-25 00:07] nan-yu commented on #175
The webhook configuration is auto-generated by kubebuilder. We are not using it in the controller. Keeping it for now in case there is a need to enable it in the future. @ant31

[2020-02-25 09:49] ant31 commented on #175
@nan-yu ok, this what I guessed.
I've moved all related variables to webhook from the main configuration file (`default/kustomization.yaml`) to a separate one in #179, it's a little easier to see what 'useful' value you can tweak.

Thank you.

[2020-02-25 09:49] #175 closed

[2020-02-28 02:33] barney-s commented on #148
@lewismarshall  - With the recent merges would this issue be closed ?

[2020-02-28 10:44] lewismarshall commented on #148
@barney-s I think so, I will test now.

[2020-02-28 17:23] barney-s opened #181 "Add application go mod package"
Consider creating a package that clients could use to:
1. List child objects given application object/NN
2. Compute the status (useful in cases where application controller is not installed, just CRD)

[code]

Alternatively work with Rest client returned object
[code]

[2020-02-28 18:19] lewismarshall commented on #148
@barney-s tried to re-build to test, unfortunately got this:

[code]
I'll try and test on Monday

[2020-03-06 01:14] yuxiangqian opened #183 "is it desired to mark Ready even if errors happened?"
introduced in:
https://github.com/kubernetes-sigs/application/pull/180

At the following line, it seems the controller will ONLY mark the application to be "ComponentsReady" when counts ready == expected AND there is some error? Is it desired?
https://github.com/kubernetes-sigs/application/blob/master/controllers/application_controller.go#L99

[2020-03-06 06:20] nan-yu commented on #183
@yuxiangqian Thanks for catching this! The whole point of #180 is to **NOT** mark aggregated condition ready when errors happen. It is a dummy typo.
We will consider adding more test cases with mock errors.

[2020-03-06 23:51] #183 closed

[2020-03-07 15:40] ant31 commented on #181
is there clients identified already?

[2020-03-11 10:16] lewismarshall commented on #148
@barney-s yes I can confirm for the bad image the `Ready` condition is now `False` will now correctly show

[2020-03-11 22:56] barney-s commented on #148
thanks for confirming @lewismarshall
/close

[2020-03-11 22:56] #148 closed

[2020-03-11 22:57] barney-s commented on #136
@tzununbekov  - I believe this is fixed now.
Would you please confirm.

/close

[2020-03-11 22:57] #136 closed

[2020-03-11 22:57] barney-s commented on #173
/close

[2020-03-11 22:57] #173 closed

[2020-04-03 14:04] kferrone opened #188 "Application GUI Yet?"
I read the point of this project is for some 'visualization' of an app and its resources. Are there any examples at all of this CRD being 'visualized' anywhere? Are there plans for this to be a first class citizen of the [K8s Dashboard](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/)?

I've been searching for something to display my Application CRD and have not come

[2020-04-11 20:40] barney-s commented on #188
Thats a great point. It should be implemented as part of the dashboard project. We are working to standardize this CRD

[2020-04-14 01:54] richardsliu opened #190 "Build error after upgrading to v0.8.2"
Looks like v0.8.0 release was moved recently. I've tried upgrading my dependencies to v0.8.2, but I am getting this error:

[code]

Anyone else seeing this?

[2020-04-14 01:55] Jeffwan commented on #190
v0.8.1 failed as well.

[code]

[2020-04-14 01:58] Jeffwan commented on #190
@barney-s Can you help take a look?

[2020-04-14 17:53] migueloller commented on #188
@kferrone, GCP will display applications in their dashboard and has first-class support for them.

[2020-04-15 00:58] tmarcu commented on #190
It looks like _both_ tags were just updated, which now gives a repo with different structure than before. The import path for 0.8.1 is no longer valid
[code]
This is with using a replace in go.mod like so:
[code]
to get past the hash & incorrect module name errors.

[2020-04-15 16:49] ant31 commented on #188
@barney-s  is there any discussion / thread about adding it to the dashboard project ?

[2020-04-24 11:40] gwkunze opened #192 "Make deploy fails due to missing docker image"
Deploying v0.8.2 with `make deploy` successfully applies all the resources but the image referenced (`quay.io/kubernetes-sigs/kube-app-manager:v0.8.1` version probably needs to be updated as well) does not exist: https://quay.io/repository/kubernetes-sigs/kube-app-manager?tab=tags

[2020-05-12 18:38] barney-s commented on #190
@Jeffwan - Did @tmarcu suggestion help ?

[2020-05-12 18:40] barney-s commented on #192
@ant31 - Would you please push the new images to quay.io repo. We just tagged the release.

[2020-05-12 18:46] barney-s commented on #188
Looks like there is an issue in the dashboard project:
https://github.com/kubernetes/dashboard/issues/2891

Please chime in there. We can support from here.

[2020-05-12 19:03] Jeffwan commented on #190
It works. My suggestion is make tags immutable... It's fine to cut a tags, otherwise it breaks project has dependency on it

[2020-06-04 12:23] ant31 commented on #192
The image have been pushed.

[2020-06-04 12:25] ant31 commented on #192
/close

[2020-06-04 12:25] #192 closed

[2020-06-09 11:42] ant31 opened #195 "The v0.8.3 Tags is pointing to the v0.8.2 commit"
The tag v0.8.3 is identical to the v0.8.2
[code]

[2020-06-09 11:42] ant31 commented on #195
/assign @nan-yu

[2020-06-09 19:25] nan-yu commented on #195
The tag v0.8.3 was updated to the latest commit. However, there is an issue in the release script: https://github.com/kubernetes-sigs/application/blob/master/Makefile#L328
Currently, it is set to release from a `release-v0.8` branch. However, the latest changes were not cherry-picked to the `release-v0.8` branch. I ended up releasing from the master branch without the script.

We need to further e

[2020-06-09 19:49] nan-yu opened #196 "Enhance the release script to support releasing from multiple branches"
Currently, the release script is set to release from a major version branch (e.g. release-v0.8). If we want to release from a master branch, we have to manually push the release tag.
It will be better if we can configure the branch we want to release from and use a make target to do the release.

[2020-06-09 19:50] nan-yu commented on #195
The release script enhancement work is tracked in issue: https://github.com/kubernetes-sigs/application/issues/196

[2020-06-09 19:50] #195 closed

[2020-06-27 14:39] tamalsaha opened #198 "Update Kubernetes client to v1.18.x"

[2020-06-28 15:22] #111 closed

[2020-06-29 11:42] #118 closed

[2020-07-05 17:22] tamalsaha opened #200 "Generate clientset"
We would like to write a controller for Application crd using the approach shown in https://github.com/kubernetes/sample-controller project. Can you please generate clientset for application crds ?

[2020-07-05 18:37] tamalsaha commented on #200
I have managed to do this in my fork https://github.com/kubepack/application/pull/1

But this requires moving the api/v1beta1 -> api/app/v1beta1 . I can open a pr if this change look acceptable.

[2020-07-19 11:29] #165 closed

[2020-07-19 13:31] #68 closed

[2020-07-19 20:38] #166 closed

[2020-07-20 18:59] #170 closed

[2020-07-27 16:16] mattfarina commented on #181
/remove-lifecycle rotten

[2020-07-27 16:21] mattfarina commented on #188
@kferrone Visualization would be great. The Kubernetes dashboard is one place but other UIs can do that as well. GCP is one example of that but other 3rd party tools could, too.

[2020-08-04 11:41] ant31 commented on #188
K8s dashboard seems not ready to add CRD extensions neither natively nor via plugins: https://github.com/kubernetes/dashboard/issues/1599
Additional user-requests may change this ^.

There's [kappnav.io](https://kappnav.io/) that provides a UI to manage applications on top of openshift or a standalone one on any kubernetes clusters.
Also Google Cloud has an UI for applications

[2020-08-17 12:07] tomkerkhove opened #203 "Provide Helm chart"
Any plans to provide a Helm chart which deploys everything it needs to have it up and running?

[2020-08-17 21:16] mattfarina commented on #203
I'd be happy to create one unless someone else wants to jump on it.

[2020-08-17 21:17] mattfarina commented on #200
@tamalsaha Did you know this project already has a controller? What are you trying to do with your controller?

[2020-08-18 16:00] mattfarina commented on #203
Note, when k8s has the ability to support signing artifacts the chart should be signed. Until then we can assume a chart that isn't signed.

[2020-09-23 23:53] jpromnam opened #204 "Add"
Application

[2020-09-23 23:55] jpromnam opened #205 "+"
https://github.com/Applications

[2020-09-23 23:55] jpromnam opened #206 "+"
https://github.com/Applications/go-selfextractor

[2020-10-05 16:24] nsainaney commented on #188
Hey all,
We [codezero.io](http://codezero.io) have been working on an application GUI that in alpha right now. It deals with Auth, Installing Apps & Launching apps, Resource management (compute, storage etc.), and App settings. Looking for feedback and just discovered this SIG. Definitely open to working together or collaborating.

https://www.youtube.com/watch?v=fltBTy_bRZM&t=2s

<img width="1446

[2020-10-09 20:35] #190 closed

[2020-10-19 12:21] rstefan1 opened #209 "Wrong status for Services"
I have this Service:

[code]

The type is `LoadBalancer`, `spec.clusterIP` is not empty,  `status.loadBalancer.ingress` is not empty and all objects in `status.loadBalancer.ingress` has an IP that is not empty.

I expect the status to be ready, but it is in progress.

[2020-11-06 21:31] #196 closed

[2020-11-16 21:22] tamalsaha commented on #200
I want to programmatically create "Application" objects. So, generated clientset will be nice.

[2020-11-24 16:29] #198 closed

[2020-12-22 06:13] zackzhangkai opened #213 "support k8s v0.18"
I noticed that the master branch had supported k8s v0.18 already for two months. But the latest release is still v0.17. When to release the master code? Expect to see release the master code as soon as possible.

[2020-12-24 18:14] #181 closed

[2021-01-15 17:49] #203 closed

[2021-01-15 22:54] #200 closed

[2021-01-17 15:06] rstefan1 commented on #209
/remove-lifecycle stale

[2021-02-08 15:40] stribb commented on #209
I don't think the Service object is maintained by the application SIG. @rstefan1 -- maybe move this issue to a different project?

[2021-02-08 15:46] stribb opened #215 "componentKinds: documentation inconsistent"
The API docs say that in `componentKinds` we should have `group: core`, but the example Application instead uses `group: v1`.

Per https://kubernetes.io/docs/reference/using-api/#api-groups it looks like `core` is correct. If an owner concurs, I'll gladly offer a PR for the WordPress example.

[2021-02-08 17:33] bogdanpetrea commented on #209
You're right @stribb, but the application controller takes services status into account.
But in some cases the logic is currently wrong, for example a `LoadBalancer` type service is expected to have an empty `spec.clusterIP`. So a Service that is ready will be reported as being in progress instead.

I've fixed this case, and other cases of services being falsely reported as ready, [here](https://g

[2021-02-21 02:03] #204 closed

[2021-02-21 02:03] #205 closed

[2021-02-21 02:03] #206 closed

[2021-03-04 18:38] #188 closed

[2021-03-08 18:28] bandesz opened #216 "[BUG] MatchExpressions is ignored on ApplicationSpec.Selector"
## What

I was trying to use MatchExpressions in ApplicationSpec.Selector but it wasn't working, e.g. my Application object did pick up all Deployment objects - including from other applications in the same namespace.

I have to use MatchExpressions, as the 3rd-party Helm chart I'm deploying tags all deployments with a different `app.kubernetes.io/name` label.

In my case I would need to use this:

[2021-03-09 11:10] bandesz commented on #216
I fixed this in our fork: https://github.com/appvia/kubernetes-sigs-application/commit/9c75b492717d9d1953dc6c02a792ba099d764ae0, let me know if you would like me to open a PR.

[2021-05-09 19:19] rstefan1 commented on #209
/remove-lifecycle stale

[2021-05-21 07:30] #213 closed

[2021-07-08 17:26] #215 closed

[2021-08-06 12:16] #216 closed

[2021-08-16 15:12] kferrone opened #218 "Project Status?"
Seems there is not much momentum anymore. Will there be regular maintenance from here on? Is this project deprecated? Are there alternatives out there?

[2021-08-31 19:53] hairmare commented on #218
I make extensive use of [Argo CD](https://argoproj.github.io/argo-cd/) and only just noticed this repo. I am wondering if the ground work done here might help standardize what the various `kind: Application`  resouces have across various `apiVerson` specific definitions.

[2021-09-13 14:26] red8888 commented on #218
I get the impression that this effort is being driven by Google exclusively: https://cloud.google.com/kubernetes-applications

Are they just not trying super hard to court the wider open source community or does no one else give a crap about it?

There is actually a dashboard item in the GKE console for "Kubernetes Applications". I think this is just a GCP specific feature mostly for 3rd parties t

[2021-09-20 20:10] janetkuo commented on #218
Yes, Google has historically driven the Application CRD work. Google's general focus is to support complementary technologies that can be composed with existing solutions in the ecosystem. The primary focus of the App CRD is Status / and metadata (which Google exposes in the GKE UI), in case our customers would like a deeper integration with the GKE UI for their app teams.

@kow3ns might have some

[2021-09-29 17:04] spiffxp opened #219 "Stop using application-periodic-default-gke job"
Related:
- Part of: https://github.com/kubernetes/test-infra/issues/23778

The job should be migrated to not depend on proprietary/hosted clusters, and instead use a cluster that is provisioned by open source software, e.g.
- kubernetes/kops
- kubernetes-sigs/kind
- kubernetes/kubernetes/cluster/kube-up.sh

The job is currently continuously failing, so if it's not actively being used, another opti

[2021-09-29 17:19] spiffxp commented on #219
Based on https://github.com/kubernetes-sigs/application/pull/138 I'm going to assume the job is safe to remove

[2021-09-29 17:19] spiffxp commented on #219
/assign

[2021-09-29 18:23] #219 closed

[2021-10-20 15:56] red8888 opened #220 "Can I just specify * for componentKinds ?"
Instead of having to explicitly specify all the componentKinds I want to add can't I just have it pick up all of them? Seems tedious.

I just want to set spec.selector.matchLabels and just have it pick up any resources it finds

[2021-10-20 15:57] red8888 commented on #218
Should open any issues/questions I have with GCP support instead of here? I get the impression these github issues aren't going to be front and center for them.

[2021-10-28 20:53] eshiroma opened #221 "CRD additionalPrinterColumns has a wrong description"
In https://github.com/kubernetes-sigs/application/blob/master/config/crd/bases/app.k8s.io_applications.yaml there appears to be a copy-paste error:
[code]

Which should instead be:
[code]

As a nit, `Numbers of components ready` is also probably better as `Number of components ready`.

[2021-11-04 20:36] red8888 opened #222 "Can there be some docs/examples for how we're expected to build tooling around the Application CRD?"
Be nice to have some canned examples. The GKE dashboard is the only thing I know that uses this- I see no other OSS projects that do.

Maybe an example of how you could write an app that calls the Application API? I can find nothing.

for example if I use kubectl to look at the Application resource I see this under info:

[code]

The GKE dashboard gets the actual IP so what is it doing? Is it usin

[2022-03-10 17:54] borgilb opened #223 "Dear Google, how do I contribute to this project? Are you abandoning the Application CRD?"
I being dramatic to try to get some response here :)

I really like the Application CRD and want to keep using it. I know Google is the only one driving its development. Its officially supported by the GKE UI and from what I have heard possible future GKE features might use it? But this github project is dead. I want to open issues and PRs, but no one is looking at this.

I'd like to know sooner r

[2022-03-19 16:42] #220 closed

[2022-03-23 14:22] vikramspringml commented on #223
Same question here ? Any updates Googlers?

[2022-03-24 15:38] borgilb commented on #223
I've been lead to believe its not being deprecated inside Google at least.

I will say though I really love this project and would like to contribute, if not code, issues and feature requests.

[2022-03-27 03:07] #218 closed

[2022-03-27 22:07] #221 closed

[2022-04-03 21:24] #222 closed

[2022-04-12 13:52] RainbowMango commented on #223
@borgilb Any links to the GKE UI? I'm interested in this project too.

[2022-04-15 14:34] red8888 commented on #223
@RainbowMango https://cloud.google.com/solutions/using-gke-applications-page-cloud-console

[2022-04-16 02:00] RainbowMango commented on #223
Thanks @red8888

[2022-05-26 17:07] red8888 opened #224 "Better error message for when the spec is violated?"
Not sure if this is possible but today I got this error: `Error: UPGRADE FAILED: failed to create resource: Application.app.k8s.io "myapp" is invalid: spec.info.value: Invalid value: "integer": spec.info.value in body must be of type string: "integer"`

It was frustrating because it didn't tell me _which_ info field was an issue. I generate my manifests from templates (helm) so I had to track down

[2022-07-12 10:06] Fish-pro opened #226 "The calculation status of a loadbalancer service is not accurate"
**What happened**:
When calculating the status of a loadbalancer service, it returns InProgress

**What you expected to happen**:
 it returns Ready

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2022-07-12 10:08] Fish-pro commented on #226
/assign @michelleN

[2022-07-23 00:48] #226 closed

[2022-08-10 09:54] nuclearwu commented on #223
Hi @RainbowMango ，Is it possible to integrate some concepts of this project about applications into karmada to achieve application distribution and management across multiple clusters

[2022-08-10 09:54] nuclearwu commented on #223
Hi @RainbowMango ，Is it possible to integrate some concepts of this project about applications into karmada to achieve application distribution and management across multiple clusters

[2022-08-10 09:58] RainbowMango commented on #223
Yeah, I was thinking about it. The concepts of this project are great.

/remove-lifecycle stale

[2022-08-22 15:04] borgilb commented on #223
@nuclearwu not really. Things like Karmada are huge platforms sweeping in scope/goals. Having to adopt something like that for this purpose is wildly heavy handed.

The Application CRD does the following:
1. Provide a metadata object you can add arbitrary data do that is deployed with your stack

[2022-10-23 18:34] #224 closed